body{
    font-family: 'Zen Maru Gothic', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    background-color: #d8b2ff;
}
h1{
    width: 100vw;
    overflow-x: hidden;
    padding: 40px 0px;
    margin-top: 0;
    margin-left: 40px;
    letter-spacing: 13px;
}

.back{
    background-color: rgb(39, 39, 39);
    margin-left: 50px;
    border-radius: 15px;
}

.textbox{
    border-color: rgb(39, 39, 39);
    background-color: rgb(85, 83, 83);
    margin: 15px 20px 25px 20px;
    color: rgb(255, 251, 251);
    text-align: right;
    font-weight: bold;
    border-radius: 10px;
}

.btn-flex{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0 20px;
}

.btn{
    margin-bottom: 5px;
    border-radius: 10px;
}

.btn-ac{
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: rgb(234, 179, 195);
}

footer {
    position: relative;
    box-sizing: border-box;
}
img {
    width: 100%;
    position: absolute;
    bottom: 0;
}


/* PC用スタイル */
@media screen and (min-width: 768px) {

    .back{
        width: 400px;
        height: 500px;
        margin-top: 50px;
    }

    header{
        height: 140px;
    }
        h1{
            font-size: 40px;
            margin-left: 50px;
        }

    .textbox{
        width: 350px;
        height: 80px;
        padding-right: 5px;
        font-size: 32px;
    }

    .btn{
        width: 65px;
        height: 65px;
        font-size: 20px;
    }
    .btn-ac{
        width: 65px;
        height: 65px;
        font-size: 20px;
    }

    footer {
        padding-bottom: 120px;
    }

}

/* スマホ用スタイル */
@media screen and (max-width: 767px) {
    
    header{
        height: 100px;
    }
        h1{
            padding: 25px 0px;
        }

    .back{
        width: 320px;
        /* height: 450px; */
        margin: 15px auto;
        padding-bottom: 20px;
    }

    .textbox{
        width: 270px;
        /* height: 50px; */
        padding: 9px 0px;
        font-size: 28px;
    }

    /* .btn-block {
        width: 280px;
        text-align: center;
    } */

    .btn{
        /* width: calc(100%/5.5); */
        width: 52px;
        height: 64px;
        font-size: 12px;
        padding: 20px 12px;
    }
    .btn-ac{
        /* width: calc(100%/5.5); */
        width: 52px;
        height: 64px;
        font-size: 12px;
        padding: 20px 12px;
    }

    footer {
        padding-bottom: 80px;
    }
    
}
